:host {
	display: flex;
	flex-direction: column;

	padding: 0.75rem;
	gap: 0.5rem;

	border-radius: 0.5rem;

	background-color: var(--background);
	border: 1px solid var(--border);

	@media (max-width: 768px) {
		width: 100%;
		max-width: 24rem;
	}
}

header {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.details {
	color: var(--text-muted);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer {
	display: flex;

	justify-content: end;

	padding-top: 0.5rem;

	gap: 0.75rem;

	@media (max-width: 480px) {
		app-button {
			font-size: 0.875rem;
		}
	}
}

app-button {
	--c-bg-color: var(--primary);
	--c-bg-hover-color: var(--primary-hover);
	--c-bg-active-color: var(--primary-active);

	--c-text-color: var(--text-on-primary);
}
